:root {
    --color-primary: #163E6C;
    --color-accent: #D20A11;
    --color-bg: #EBE6D6;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-table: #F5F6FA;
    --color-green: #097b09;

    --font-main: "PT Astra Sans", sans-serif;

    /* ---- Основные размеры ---- */
    --radius-md: 4px;
    --radius-lg: 6px;
}


@font-face {
    font-family: 'PT Astra Sans';
    src: url('../fonts/PT-Astra-Sans_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Astra Sans';
    src: url('../fonts/PT-Astra-Sans_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Astra Sans';
    src: url('../fonts/PT-Astra-Sans_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Astra Sans';
    src: url('../fonts/PT-Astra-Sans_Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
