<div class="home__filters-area">
    <button class="home__filters-toggle">
        Фильтрация <span class="home__filters-arrow">▸</span>
    </button>

    <div class="home__filters-content">
        <form method="get" class="home__form">
            <input type="hidden" name="tab" value="{{ tab_name }}">

            {% for field in filter.form %}
                {% if field.field.widget.input_type != "hidden" %}
                    <div class="home__filter-item">

                        {% if field.label %}
                            <label class="home__filter-label">{{ field.label }}</label>
                        {% endif %}

                        {{ field }}

                        {% if field.errors %}
                            <div class="home__filter-error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}

            <button type="submit" class="home__button home__form-button">Фильтровать</button>
            <a href="?tab={{ tab_name }}" class="home__clean-button">Сбросить фильтры</a>
        </form>
    </div>
</div>
