{% if is_manager or is_service or is_client %}
    <div class="home__add-button-wrapper">
        <a href="{% url 'maintenance-create-by-machine' machine.pk %}" class="home__add-button">
            Добавить ТО
        </a>
    </div>
{% endif %}

{% if maintenances %}
    <div class="home__table-wrapper">
        <table class="home__table">
            <thead>
            <tr>
                <th>Вид ТО</th>
                <th>Дата проведения</th>
                <th>Наработка, м/ч</th>
                <th>№ заказ-наряда</th>
                <th>Дата заказ-наряда</th>
                <th>Организация, проводившая ТО</th>
                <th>Сервисная организация</th>
            </tr>
            </thead>

            <tbody>
            {% for m in maintenances %}
                <tr>
                    <td>
                        {% if m.maintenance_type %}
                            <a class="home__link"
                            href="{% url 'reference-detail' 'maintenance-type' m.maintenance_type.pk %}">
                                {{ m.maintenance_type }}
                            </a>
                        {% else %}—{% endif %}
                    </td>

                    <td>{{ m.maintenance_date }}</td>
                    <td>{{ m.operating_time }}</td>
                    <td>{{ m.order_number }}</td>
                    <td>{{ m.order_date }}</td>

                    <td>
                        {% if m.organization %}
                            <a class="home__link" href="{% url 'reference-detail' 'maintenance-org' m.organization.pk %}">
                                {{ m.organization }}
                            </a>
                        {% else %}—{% endif %}
                    </td>

                    <td>{{ m.service_company }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="empty-data-message">Данных о ТО нет</div>
{% endif %}
