body {
    font-family: var(--font-main);
    color: var(--color-primary);
    line-height: 1.45;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
}

h1 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

a {
    transition: color 0.25s ease;
}

a:hover {
    color: var(--color-accent);
}

small {
    font-size: .85em;
}
