.select2-container {
    width: 200px !important;
    font-family: var(--font-main);
}

.select2-selection {
    height: 40px !important;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single:hover {
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 0 2px rgba(22, 62, 108, 0.2);
    outline: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    color: var(--color-primary) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    white-space: normal;
}

.select2-dropdown {
  	font-size: 14px;
}

.select2-results__option {
	font-size: 14px;
	padding: 6px 10px;
}

.select2-results__option--highlighted {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
}

@media (max-width: 1536px) {
    .select2-container {
      width: 190px !important;
    }
  
    .select2-selection {
      height: 38px !important;
      font-size: 13px;
    }
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 15px;
    }
}
  
@media (max-width: 1440px) {
    .select2-container {
      width: 180px !important;
    }
  
    .select2-selection {
      height: 36px !important;
      font-size: 13px;
      padding: 6px 10px;
    }
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 14px;
    }
}
  
@media (max-width: 1366px) {
    .select2-container {
      width: 170px !important;
    }
  
    .select2-selection {
      height: 34px !important;
      font-size: 12px;
      padding: 5px 8px;
    }
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 13px;
    }
}
  
@media (max-width: 768px) {
    .select2-container {
      width: 100% !important;
    }
  
    .select2-selection {
      height: 38px !important;
      font-size: 12px;
      padding: 6px 10px;
    }
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 12px;
    }

    .select2-dropdown {
      font-size: 12px;
    }

    .select2-results__option {
        font-size: 12px;
        padding: 5px 8px;
    }
}
  
@media (max-width: 360px) {
    .select2-container {
      width: 100% !important;
    }
  
    .select2-selection {
      height: 36px !important;
      font-size: 10px;
      padding: 6px 8px;
    }
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 10px;
    }

    .select2-dropdown {
      font-size: 10px;
    }

    .select2-results__option {
        font-size: 10px;
        padding: 4px 6px;
    }
}


  